<div class="container-fluid">
	<!-- <h3>Express: HELLO WORLD</h3> -->
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login_page">Login</a></li>
			<li><a href="/register_page">Register</a></li>
			<li><a href="/secret_page">SECRET</a></li>
			<li><a href="/secret_page_2">SECRET 2</a></li>
		</ul>
	</nav>
</div>
