<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Node authentication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <h3>Home</h3>
        <% include ./_header.ejs %>
        <section class="jumbotron mt-4">
          some content...
        </section>
      </div>
  </body>
</html>